{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Puppies friends site ">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">
    <script src="{% static 'js/all.js' %}"></script>
    <title>Puppies' friends {% block title %} {% endblock %}</title>
</head>
<body>
    <!-- nav -->
    <nav>
        <div class="nav-wrapper">
            <a href="{% url 'home' %}" class="logo">Puppies'<span>Friends</span></a>
            <ul class="nav-list">
                <li>
                    <a href="{% url 'home' %}">Home</a>
                </li>
                <li>
                    <a href="#about">About</a>
                </li>
                <li>
                    <a href="#puppies">Available puppies</a>
                </li>
                <li>
                    <a href="#contact">Contact</a>
                </li>
            </ul>

            <button class="menu-btn">
                <i class="fas fa-bars"></i>
            </button>
        </div>
    </nav>
    <!-- end of nav -->
    <!-- mobile nav -->
    <ul class="mobile-nav">
        <button class="close-btn">
            <i class="fas fa-times"></i>
        </button>
        <li>
            <a href="{% url 'home' %}">Home</a>
        </li>
        <li>
            <a href="#about">About</a>
        </li>
        <li>
            <a href="#puppies">Available puppies</a>
        </li>
        <li>
            <a href="#contact">Contact</a>
        </li>
    </ul>
    <!-- end of mobile nav -->
    {% block content %}
    {% endblock %}
    <!-- footer -->
    <footer>
        <div class="footer-wrapper">
            <div class="footer-info">
                <h4 class="title">puppies's friends</h4>
                <div class="loc">
                    <i class="fas fa-map-marker"></i>
                    <p>1300 BOblett St Blaine WA, 98230</p>
                </div>
                <p class="pup">wish you all the best in your journey to find your perfect furry friend!</p>
                <div class="cont">
                    <i class="fas fa-phone"></i>
                    <p>++12067453151</p>
                </div>
                <div class="social-box">
                    <a href="#face" data-aos="fade-down" data-aos-delay="200">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#insta" data-aos="fade-down" data-aos-delay="300">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <div class="outro">
        <div class="footer-wrapper">
            <p>puppies's friend inc. &copy; 2023 powered by sewonet company</p>
            <div class="link-box">
                <a href="{% url 'terms' %}">terms of use</a>
                <a href="{% url 'privacy' %}">privacy policy</a>
            </div>
        </div>
    </div>
    <!-- end of footer -->

    <!-- js links -->
    <script src="{% static 'js/aos.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>