{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- header -->
<header>
    <div class="header-wrapper">
        <div class="content-box" data-aos="fade-left">
            <h1>Welcome to Puppies Friends website!</h1>
            <h4>We're excited to have you here and show you our adorable and loving puppies.</h4>
            <h1>find your <span>perfect</span> puppy</h1>
            <a href="#puppies">Available puppies</a>
        </div>
    </div>
</header>
<!-- end of header -->
<!-- about section -->
<section class="about" id="about">
    <div class="section-wrapper">
        <div class="about-wrapper">
            <div class="content-box" data-aos="fade-left">
                <h3>visit us today!</h3>
                <h2>Puppies's Friends <span>are the best</span> </h2>
                <p>Welcome to our puppies website! We're thrilled to introduce you to our furry friends, who are all looking for their forever homes. Our puppies come from a variety of breeds, and we take pride in ensuring that each one is healthy, happy, and ready to join a loving family. From the tiny Chihuahua to the majestic Great Dane, we have a wide range of breeds to choose from.</p>
                <br>
                <p>Each of our puppies has a unique personality, and we provide as much information about each one as possible to help you choose the perfect match for your home. We include details about their breed, age and images of them.</p>
                
            </div>
            <div class="img-box" data-aos="fade-right">
                <img src="{% static 'img/pup4.jpg' %}" alt="a happy dog">
            </div>
        </div>
    </div>
</section>
<!-- end of about section -->
<!-- puppies section -->
<div class="puppies" id="puppies">
    <h2 class="avail">Available puppies</h2>
    <div class="puppies-grid">
        <!-- start of puppy box -->
    {% for dog in page_obj  %}
        <a href="{{ dog.get_absolute_url }}" class="puppy-box" aria-label="Dog name is {{dog.name}}. It is {{dog.age}} years old and is {{dog.breed}} breed." data-aos="fade-up">
            <img src="{{dog.picture.url}}" />
            <div class="info-box">
                <h4 class="name">{{dog.name}}</h4>
                <h5 class="age">{{dog.age}} year(s) old</h5>
                <p class="breed">Breed: {{dog.breed}}</p>
            </div>
        </a>
    {% endfor %}
    <!-- end of puppy box -->
    </div>
<br/>
{% include "pagination.html" with page=page_obj %}
		
</div>
<!-- end of puppies section -->
<!-- hero section -->
<section class="hero">
    <div class="section-wrapper">
        <h2 data-aos="fade-up"><span>Puppies' Friends</span> Make a difference</h2>
        <div class="hero-wrapper">
            <div class="hero-1" data-aos="zoom-out">
                <h4>Find your perfect match</h4>
                <p>We understand the joy and companionship that puppies can bring to our lives, and we're here to help you find your perfect match. Whether you're looking for a loyal companion or a playful friend, we've got you covered.</p>
                <h4>Put on a smiley face as you got a companion</h4>
                <p>We know that sometimes life can be challenging, and puppies have a unique way of bringing a smile to our faces and lifting our spirits. That's why we're dedicated to connecting our loving puppies with people who need a little extra love and joy in their lives. Our goal is to help you find your perfect furry friend who will bring a smile to your face and brighten up your day.</p>
            </div>
            <div class="img-box" data-aos="zoom-in">
                <img src="{% static 'img/pup2.jpg' %}" alt="a beautiful brown puppy">
            </div>
            <div class="hero-2" data-aos="zoom-out">
                <h4>Healthy puppies for you always</h4>
                <p>We're proud of the work we do to ensure that all of our puppies are healthy, happy, and well-cared for. We believe that every puppy deserves a loving home and we take great care to ensure that each of our furry friends finds their perfect forever home. We know that adopting a puppy can be a big responsibility, but we're here to support you every step of the way.</p>
                <h4>We appreciate you for visiting us</h4>
                <p>Thank you for visiting our website, and we hope that you find your perfect furry companion. Remember, a puppy's love is unconditional, and they will always be there to greet you with a wagging tail and a wet nose. So, take a moment to browse through our puppies and find the one that captures your heart.</p>
            </div>
        </div>
    </div>
</section>
<!-- end of hero section -->
<!-- contact section -->
<section class="contact" id="contact">
    <div class="section-wrapper">
        <h2 data-aos="fade-up">contact us</h2>
        <p>We would love to hear from you. Leave us a mail and we will get back to you.</p>
        <div class="contact-wrapper" data-aos="fade-up">
            <form action="/" class="contact-form">
                <input type="text" placeholder="Your name" data-aos="fade-up" data-aos-delay="200" required>
                <input type="email" placeholder="Your email" data-aos="fade-up" data-aos-delay="300" required>
                <input type="tel" placeholder="Your phone number" data-aos="fade-up" data-aos-delay="400" required>
                <textarea cols="30" rows="10" placeholder="Your message" maxlength="352" data-aos="fade-up" data-aos-delay="500" required></textarea>
                <input type="submit" class="submit" value="send" data-aos="fade-up" data-aos-delay="600">
            </form>
        </div>
    </div>
</section>
<!-- end of contact section -->
{% endblock %}