{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- header -->
<header>
    <div class="header-wrapper">
        <div class="content-box">
            <h1>welcome to puppies's friends</h1>
            <h4>want a puppy to play with?</h4>
            <h1>find your <span>perfect</span> puppy</h1>
            <a href="#N">Available puppies</a>
<br/>
{% for dog in page_obj  %}
<h1><a href="{{ dog.get_absolute_url }}"> {{dog.name}}</a></h1>
<p>{{dog.age}}</p>
<img src={{dog.image.url}}" />

{% endfor %}
<br/>
  {% include "pagination.html" with page=page_obj %}		
<br/>
        </div>
    </div>
</header>
<!-- end of header -->
<!-- about section -->
<section class="about" id="about">
    <div class="section-wrapper">
        <div class="about-wrapper">
            <div class="content-box">
                <h3>visit us today!</h3>
                <h2>Puppies's Friends <span>are the best</span> </h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus itaque deserunt sequi culpa, illum, modi nihil voluptates quas quo obcaecati magni laboriosam minima aut, reiciendis esse saepe illo officia quibusdam!</p>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate maiores omnis doloribus repellendus voluptates deserunt fugit quis? Itaque, deleniti recusandae.</p>
                
            </div>
            <div class="img-box">
                <img src="{% static 'img/pup4.jpg' %}" alt="a happy dog">
            </div>
        </div>
    </div>
</section>
<!-- end of about section -->
<!-- hero section -->
<section class="hero">
    <div class="section-wrapper">
        <h2><span>Puppies' Friends</span> Make a difference</h2>
        <div class="hero-wrapper">
            <div class="hero-1">
                <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, harum?</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam aliquid assumenda, soluta exercitationem harum eius minima doloribus asperiores et atque neque ducimus quae aliquam aut odit, ipsam minus, facere voluptatem.</p>
                <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, harum?</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam aliquid assumenda, soluta exercitationem harum eius minima.</p>
                <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, harum?</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam aliquid assumenda, soluta exercitationem harum eius minima doloribus asperiores et atque neque ducimus quae aliquam aut odit, ipsam minus, facere voluptatem.</p>
            </div>
            <div class="img-box">
                <img src="{% static 'img/pup2.jpg' %}" alt="a beautiful brown puppy">
            </div>
            <div class="hero-2">
                <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, harum?</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam aliquid assumenda, soluta exercitationem harum eius minima doloribus asperiores et atque neque ducimus quae aliquam aut odit, ipsam minus, facere voluptatem.</p>
                <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, harum?</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam aliquid assumenda, soluta exercitationem harum eius minima.</p>
            </div>
        </div>
    </div>
</section>
<!-- end of hero section -->
<!-- contact section -->
<div class="contact" id="contact">
    <div class="section-wrapper">
        <h2>contact us</h2>
        <p>We would love to hear from you. Leave us a mail and we will get back to you.</p>
        <div class="contact-wrapper">
            <form action="#n" class="contact-form">
                <input type="text" placeholder="Your name">
                <input type="email" placeholder="Your email">
                <input type="tel" placeholder="Your phone number">
                <textarea cols="30" rows="10" placeholder="Your message" maxlength="352"></textarea>
                <input type="submit" class="submit" value="send">
            </form>
        </div>
    </div>
</div>
<!-- end of contact section -->
{% endblock %}