{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="privacy">
    <div class="section-wrapper">
        <h1 class="title"><u>our privacy policy</u></h1>
        <p class="intro">At PuppiesFriends.com, we take your privacy seriously. We are committed to protecting your personal information and ensuring that your experience with us is safe, secure, and enjoyable. This Privacy Policy outlines our practices regarding the collection, use, and disclosure of your personal information when you use our website. By using our website, you agree to the terms of this Privacy Policy.</p>

        <h4>1. Collection of Information</h4>
        <p>When you use our website, we may collect personal information from you such as your name, email address, phone number, and location. We may also collect non-personal information such as your IP address, browser type, and operating system. We collect this information in order to provide you with the best possible experience on our website, to communicate with you about our services and products, and to improve our website.</p>
        <h4>2.Use of Information</h4>
        <p>We may use the personal information we collect from you to:</p>
        <ul class="priv-list">
            <li>Provide you with the products and services you request;</li>
            <li>Provide you with the products and services you request;</li>
            <li>Send you promotional materials or other communications;</li>
            <li>Respond to your inquiries and requests;</li>
            <li>Analyze and improve our website, products, and services;</li>
            <li>Prevent fraud and other unlawful activities; and</li>
            <li>Comply with legal and regulatory requirements.</li>
        </ul>
        <p>We may also use your non-personal information to analyze trends, track user movements, and gather demographic information for aggregate use.</p>
        <h4>3. Disclosure of Information</h4>
        <p>We may disclose your personal information to third parties in certain circumstances, including:</p>
        <ul>
            <li>To our service providers, who assist us in operating our website and providing our products and services;</li>
            <li>To our affiliates, who may use your information for their own marketing purposes;</li>
            <li>To comply with legal and regulatory requirements; and</li>
            <li>To protect our rights, property, and safety, or the rights, property, and safety of others.</li>
        </ul>
    </div>
</section>
{% endblock %}